@model Mathio.Models.TasksModel

<div class="col-sm-12 col-lg-6 col-xl-4 justify-content-between" style="height: 250px; text-align: center;">
    <div class="one-category border border-primary m-2 p-1" style="border-radius: 20px;">
        <div class="category">
            <h2>@Model.Category</h2>
        </div>
        <div class="title-and-description">
            <div class="title">
                <h4>@Model.Title</h4>
            </div>
        
            <hr>

            <div class="description">
                <p>@Model.Description</p>
            </div>
            <div class="Author">
                <div>@Model.Author?.UserName</div>
                <div>@Model.Author?.Points</div>
            </div>
            <div>
                Last update: @Model.LastUpdate?.ToDateTime()
            </div>
        </div>
        <div class="row justify-content-around pt-4">
            <div class="col-md-auto">
                <button id="edit" class="btn btn-primary" onclick="location.href='@Url.Action("EditTask", "TasksManager", new {id = Model.SelfReference?.Id})'">Edytuj</button>
            </div>
            <div class="col-md-auto">
                <button id="delete" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteTask", "TasksManager", new {id = Model.SelfReference?.Id})'">Usuń</button>
            </div>
        </div>
    </div>
</div>