@model Mathio.Models.TasksModel

<div class="col-sm-12 col-lg-6 col-xxl-4 d-flex" onclick="location.href='@Url.Action("Lessons", "Tasks", new {id=Model.SelfReference?.Id})'">
    <div class="one-test">
        <div class="test-title">
            <h4>@Model.Title</h4>
        </div>
        <div class="title-and-description">
            
            <div class="description">
                <p>@Model.Description</p>
            </div>

            <hr>

            <div class="informations">
                <b>Autor:</b> <i>@Model.Author?.UserName (@Model.Author?.Points pkt)</i><br/>
                <b>Kategoria:</b> <i>@Model.Category</i><br/>
                <b>Aktualizowano:</b> <i>@Model.LastUpdate?.ToDateTime()</i>
            </div>
        </div>
    </div>
</div>
