@model TestManager

@{
    Layout = "_Layout";
}

<div>
    @Model.Task.Category
    @Model.Task.Title
    @Model.Task.Description
    @Model.Task.Author?.UserName
    @Model.Task.Author?.Points
    @Model.Task.LastUpdate
    
    <p>Pytanie @TempData["num"]/@Model.Task.QuestionsPerTest</p>
    @{
        await Html.RenderPartialAsync("_Question", model: Model.currentQuestion);
    }
    @{
        var num = (int) (TempData["num"] ?? 0);
        if (num == 1)
        {
            <div class="pt-3">
                <button type="button" class="btn btn-primary" id = "prev" disabled>Poprzedni</button>
                <button type="button" class="btn btn-primary" id = "next">Nastepny</button>
            </div>
        }
        else if (num == Model.Task.QuestionsPerTest)
        {
            <div class="pt-3">
                <button type="button" class="btn btn-primary" id = "prev">Poprzedni</button>
                <button type="button" class="btn btn-primary" id = "finish">Zakończ</button>
                <button type="button" class="btn btn-primary" id = "next" disabled>Nastepny</button>
            </div>
            
        }
        else if (num > 1 && num < Model.Task.QuestionsPerTest)
        {
            <div class="pt-3">
                <button type="button" class="btn btn-primary" id = "prev">Poprzedni</button>
                <button type="button" class="btn btn-primary" id = "next">Nastepny</button>
            </div>
        }
        else
        {
            <div class="pt-3">
                <button type="button" class="btn btn-primary" id = "return" onclick="location.href='@Url.Action("Questions" , "Tasks", new {id=Model.Task.SelfReference?.Id})'">Wróc</button>
            </div>
        }
    }
</div>
<script type="text/javascript" defer>
function SaveAnswer(href){
    let d = $("#AnswerForm").serialize();
        $.ajax({
            type: "POST",
            url: '/Tasks/SaveAnswer',
            dataType: 'json',
            data: d,
            success: function (response) {
                alert(response["msg"]);
                location.href = href;
            },
            error: function (xhr){
                if (xhr.status===401){
                    location.replace("/Profile/SignIn?returnUrl="+location.href);
                }
                else {
                    alert(xhr.status);
                }
            }
        });
}
$("#prev").on("click", function () {
  SaveAnswer('@Url.Action("Questions", "Tasks" , new {id=Model.Task.SelfReference?.Id, num=(int)(TempData["num"] ?? 2)-1})');
});
$("#next").on("click", function () {
    SaveAnswer('@Url.Action("Questions", "Tasks" , new {id=Model.Task.SelfReference?.Id, num=(int)(TempData["num"] ?? 0)+1})');
});
$("#finish").on("click", function () {
    SaveAnswer('@Url.Action("Summary","Tasks", new {id=Model.Task.SelfReference?.Id})');
});
</script>