@model TestManager

@{
    Layout = "_Layout";
}

<div>
    @Model.Task.Category
    @Model.Task.Title
    @Model.Task.Description
    @Model.Task.Author?.UserName
    @Model.Task.Author?.Points
    @Model.Task.CreatedAt
    
    @{
        await Html.RenderPartialAsync("_Question", model: Model.currentQuestion);
    }
    <button id = "prev" onclick="location.href='@Url.Action("Questions", "Tasks" , new {id=Model.Task.SelfReference?.Id, num=1})'">Poprzedni</button>
    <button id = "next" onclick="location.href='@Url.Action("Questions", "Tasks" , new {id=Model.Task.SelfReference?.Id, num=2})'">Nastepny</button>
</div>