@model TestManager

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Podsumowanie</h2>
<p>@Model.Task.Title</p>
<p>@Model.Task.Category</p>
<p>@Model.Task.Description</p>
<p>@Model.Task.LastUpdate?.ToDateTime()</p>
<p>@Model.Task.Author?.UserName</p>

<h3>Odpowiedzi</h3>
<table class="table-bordered table">
    @{
        if (Model.testQuestions != null)
        {
            var i = 0;
            foreach (var q in Model.testQuestions)
            {
                i++;
                <tr>
                    <td>Pytanie @i</td><td>@q.Question</td><td>@q.AnswerModel.Answer</td>
                </tr>
            }
        }
    }
</table>

<btn class="btn btn-success" onclick="location.href='@Url.Action("Result", "Tasks", new {id=Model.Task.SelfReference?.Id})'">Zapisz podejście</btn>
<btn class="btn btn-info" onclick="location.href='@Url.Action("Questions", "Tasks", new {id=Model.Task.SelfReference?.Id})'">Powrót do pytań</btn>